@model LatvijasPasts.Core.Models.Education

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Education</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstitutionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstitutionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldOfStudy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldOfStudy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
